$icon-font-path: '/fonts/';

/* @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; */
// @import "bielestrap";

$font-size-base: 16px;

$brand-primary: #163776;
$font-family-sans-serif: 'Roboto', sans-serif;

$btn-default-color: white;
$btn-default-bg: $brand-primary;

$navbar-inverse-bg: #163776;
$navbar-inverse-link-color: white;
// $navbar-default-bg:

@import "bootstrap-sass/_bootstrap.scss";
// @import "bootstrap-theme";
@import "bootstrap-select";
@import "font-awesome";
@import "custom";
// @import "mypub";
